ul {
    list-style: none;
}

h2{
    margin-bottom: 2.5rem;
}

hr {
    border: none;
    border-top: 1px solid midnightblue;
    margin: 5px 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: midnightblue;
    background: radial-gradient(circle, honeydew 0%, lightskyblue 100%) honeydew;
    text-align: center;
}

.flexed {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
}

/* Colors */
.protein, .blue {--color: lightskyblue;}
.carbs, .green {--color: mediumspringgreen;}
.fat, .peach {--color: PeachPuff;}

/* Body */

.logo {
    --icon-size: 4rem;
    font-size: var(--icon-size);
    color:  var(--color);
    text-shadow: 1px 1px 2px black, 0 0 0.1em var(--color);
}

.bullet {
    --icon-size: 2rem;
    padding: 3px;
    margin: 5px 10px;
    border: 1px solid midnightblue;
    border-radius: 50%;
    background-color: var(--color);
    font-size: 0.8rem;
    align-items: center;
}

.pie-chart {
    height: 250px;
    width: 250px;
    margin: 0 auto;
    border: 5px double white;
    border-radius: 50%;
    background: conic-gradient(lightskyblue 0% 30%, mediumspringgreen 30% 75%, PeachPuff 75% 100%);
}

.ingredient {
    border: 1px solid midnightblue;
    padding: 10px;
    margin-bottom: 10px;
    text-align: left;
}

.empty-list-message {
    display: none;
}

/* Icons */ 

i {
    margin: 0 5px;
    display: inline-block;
    vertical-align: middle;
    height: calc(var(--icon-size, 24px));
    width: calc(var(--icon-size, 24px));
}

i:hover {
    transform: scale(1.3);
}

i[title = "logo"] {
    background: url("./img/logo.png") no-repeat 0 0;
    background-size: contain;
}

i[title = "logo"]:hover {
    background-image: url("./img/logo.gif");
}

i[title = "add"] {
    background: url("./img/add.png") no-repeat 0 0;
    background-size: contain;
}

i[title = "add"]:hover {
    background-image: url("./img/add.gif");
}

i[title = "edit"] {
    background: url("./img/edit.png") no-repeat 0 0;
    background-size: contain;
}

i[title = "edit"]:hover {
    background-image: url("./img/edit.gif");
}

i[title = "delete"] {
    background: url("./img/delete.png") no-repeat 0 0;
    background-size: contain;
}

i[title = "delete"]:hover {
    background-image: url("./img/delete.gif");
}

